<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="main">
    <div align="center">
        <button id="like-btn">Like Button</button>&nbsp;&nbsp;&nbsp;
        <button id="dislike-btn">Dislike Button</button>
    </div>
    <div align="center">
        <p class="count-text" id="like-count"></p>
        <p class="count-text" id="dislike-count"></p>
    </div>
</div>
<script type="text/javascript">
    var likeCount =0,dislikeCount=0;
    likeButton = document.getElementById('like-btn');
    dislikeButton = document.getElementById('dislike-btn');
    likeButton.onclick = function(){
        likeCount++;
        document.getElementById('like-count').innerHTML = "No of times like button pressed = "+likeCount;
    }
    dislikeButton.onclick = function(){
        dislikeCount++;
        document.getElementById('dislike-count').innerHTML = "No of times dislike button pressed = "+dislikeCount;
    }
    document.getElementById('like-count').innerHTML = "No of times like button pressed = "+likeCount;
    document.getElementById('dislike-count').innerHTML = "No of times dislike button pressed = "+dislikeCount;
</script>
</body>
</html>