<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body>
<div class="main">{%csrf_token %}
    <div align="center">
        <button id="like-btn">Like Button</button>&nbsp;&nbsp;&nbsp;
        <button id="dislike-btn">Dislike Button</button>
    </div>
    <div align="center">
        <p class="count-text" id="like-count"></p>
        <p class="count-text" id="dislike-count"></p>
    </div>
    <div align="center">
        <p class="count-text">No of total like = <span id="total-like-count">{{like}}</span></p>
        <p class="count-text">No of total dislike = <span id="total-dislike-count">{{dislike}}</span></p>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>